<div class="row dashboardCount mb-4">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex justify-content-between">
                <img src="assets/images/gateway-icon.svg" />
                <div class="">
                    <h3>{{summaryData.totalSchools}}</h3>
                    <p>Schools</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex justify-content-between">
                <img src="assets/images/gateway-icon.svg" />
                <div class="">
                    <h3>{{summaryData.totalGateways}}</h3>
                    <p>Gateways</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body d-flex justify-content-between">
                <img src="assets/images/areas-icon.svg" />
                <div class="">
                    <h3>{{summaryData.totalStudents}}</h3>
                    <p>Students</p>
                </div>
            </div>
        </div>
    </div>    
</div>

