<div class="login signUpWrapp">
    <div class="container-fluid">
        <div class="row login-box">
            <div class="col-lg-7 bg-img">
                <div class="loginInfo clearfix">
				
                       
                   
                </div>
            </div>
            <div class="col-lg-5 form-section ">
                <div class="form-inner">
                    <div class="loginHeader">
                        <h3>SIGNUP</h3>
                        <h6>Welcome! Please enter your details</h6>
                    </div>
                    <form >
                        <div class="formGroup">
							<label class="label-control">User Name</label>
                            <input type="text" name="email" class="form-control" placeholder="Enter your User Name">
                        </div>

                        <div class="formGroup">
							<label class="label-control">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Enter your Name">
                        </div>
                        <div class="formGroup">
							<label class="label-control">Location</label>
                            <input type="text" name="location" class="form-control" placeholder="Enter your Location">
                        </div>

                        <div class="formGroup">
							<label class="label-control">Contact Email</label>
                            <input type="text" name="contactemail" class="form-control" placeholder="Enter your Contact Email">
                        </div>

                        <div class="formGroup">
							<label class="label-control">Mobile</label>
                            <input type="number" name="Mobile" class="form-control" placeholder="Enter your Mobile Number">
                        </div>
                        <!-- <div class="formGroup">
						<label class="label-control">Password</label>
                            <input type="password" name="Password" class="form-control" placeholder="Enter your Password">
                        </div> -->

                
						
						<div class="form-group loginButtons mt-0">
						<div class="pull-right">
                      <button type="submit" (click)="signup()" class="mt-0 btn btn-primary width100 ">SIGN UP</button>
							
							 </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>

                    <h6 class="alreadyuser">Already a User? <a href="/login">Login</a></h6>
                  
					
					<!-- <p class="login-footer">© 2024 . All rights reserved.</p> -->
                </div>
				
				
				
            </div>
        </div>
    </div>
</div>
