<div class="row">
    <div class="col-md-12">
        <div class="card cardShadow">
            <div class="card-body">
                <div class="cardHeading">
                    <h3>Attendance List</h3> 
                    <div class="cardHeadingRight">
                        <form class="app-search">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="ri-search-line"></span>
                            </div>
                        </form>
          
                    </div>
               </div>

                <div class="table-responsive">
                    <table class="table mb-0 mt-3">
                        <thead>
                            <tr>
                                <th>Student ID</th>
                                <th>Attendance Status</th>
                                <th>Area Type</th>
                                <th>Last Detection Time</th>
                                <th>Device ID</th>                                
                               <th>Actions</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>STU098</td>                                
                                <td class="activeColor">Present</td>
                                <td>Authorized</td>
                                <td>29-11-2024 3.30PM</td>
                                <td>DID231</td>                              
                                 <td>
                                    <button type="submit" class="btn tableIconBt waves-effect waves-light me-1">
                                        <img src="assets/images/view-icon.svg"/>
                                    </button> 
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>




</div>

