<div class="settingsWrapp">
    <div class="row">
        <div class="col-md-7 settingsBlock">
            <form [formGroup]="schoolForm" (ngSubmit)="saveConfig()">
                <div class="d-flex justify-content-between settingsHeading">
                    <h2>Configuration</h2>
                    <button type="submit" class="btn btn-primary createBt"><span>Save</span></button>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card cardShadow">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3>School Start At</h3>
                                    <ngb-timepicker [(ngModel)]="schoolStartAtTime" [seconds]="false"
                                        [hourStep]="hourStep" [minuteStep]="minuteStep" id="schoolStartAt"
                                        formControlName="schoolStartAt" /><span class="hint-text">(HH:MM)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card cardShadow">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3>School End At</h3>
                                    <ngb-timepicker [(ngModel)]="schoolEndAtTime" [seconds]="false"
                                        [hourStep]="hourStep" [minuteStep]="minuteStep" id="schoolEndAt"
                                        formControlName="schoolEndAt" /><span class="hint-text">(HH:MM)</span>
                                </div>
                                <div class="d-flex alert alert-danger" *ngIf="schoolForm.errors?.['startAfterEnd']">
                                    Start time must not be later than end time.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12" *ngIf="schoolForm.errors?.['startAfterEnd']" class="alert alert-danger">
                        <div class="card cardShadow">
                            <div class="card-body">
                                <div class="d-flex">
                                    Start time must not be later than end time.
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <div class="col-md-12">
                        <div class="card cardShadow">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3>Classroom Presence Timeout</h3>
                                    <ngb-timepicker [(ngModel)]="classroomPresenceTimeoutTime" [seconds]="true"
                                        [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"
                                        id="classroomPresenceTimeout" formControlName="classroomPresenceTimeout" /><span
                                        class="hint-text">(In Seconds)</span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card cardShadow">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3>Absence Timeout</h3>
                                    <ngb-timepicker [(ngModel)]="absenceTimeoutTime" [seconds]="true"
                                        [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"
                                        id="absenceTimeout" formControlName="absenceTimeout" /><span
                                        class="hint-text">(In Minutes)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="display: none;">
                        <div class="card cardShadow">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3>Late Detection Timeout</h3>
                                    <ngb-timepicker [(ngModel)]="lateDetectionTimeoutTime" [seconds]="true"
                                        [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"
                                        id="lateDetectionTimeout" formControlName="lateDetectionTimeout" /><span
                                        class="hint-text">(In Minutes)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card cardShadow">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3>Unauthorized Zone Timeout</h3>
                                    <ngb-timepicker [(ngModel)]="unauthorizedZoneTimeoutTime" [seconds]="true"
                                        [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"
                                        id="unauthorizedZoneTimeout" formControlName="unauthorizedZoneTimeout" /><span
                                        class="hint-text">(In Minutes)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="display: none;">
                        <div class="card cardShadow">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3>Sensitive Area Timeout</h3>
                                    <ngb-timepicker [(ngModel)]="sensitiveAreaTimeoutTime" [seconds]="true"
                                        [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"
                                        id="sensitiveAreaTimeout" formControlName="sensitiveAreaTimeout" /><span
                                        class="hint-text">(In Minutes)</span>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </form>
        </div>

        <div class="col-md-5 changePasswordWrapp">
            <div class="card cardShadow">
                <div class="card-body">
                    <div class="cardHeading">
                        <h2>Change Password</h2>
                        <div class="cardHeadingRight">
                        </div>
                    </div>

                    <form class="formStyle mt-3" [formGroup]="changePasswordForm"
                    (ngSubmit)="onFormSubmit()">
                        <div class="formGroup">
                            <label>Current Password</label>
                            <input type="password" id="currentPassword" formControlName="currentPassword"
                                class="form-control" />
                            <!-- Validation Message -->
                            <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched"
                                class="invalid-feedback">
                                <small *ngIf="changePasswordForm.get('currentPassword')?.errors?.['required']">Current
                                    password is required.</small>
                            </div>
                        </div>

                        <div class="formGroup">
                            <label>New Password</label>
                            <input type="password" id="newPassword" formControlName="newPassword"
                                class="form-control" />
                            <!-- Validation Message -->
                            <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched"
                                class="invalid-feedback">
                                <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">New password
                                    is required.</small>
                                <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">New password
                                    must be at least 6 characters long.</small>
                            </div>
                        </div>

                        <div class="formGroup">
                            <label>Confirm Password</label>
                            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                                class="form-control" />
                            <!-- Validation Message -->
                            <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched"
                                class="invalid-feedback">
                                <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Confirm
                                    password is required.</small>
                                <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['mismatch']">Passwords
                                    do not match.</small>
                            </div>
                        </div>

                        <div class="formGroup">
                            <button type="submit"
                                class="btn btn-primary createBt fullWithBt" [disabled]="changePasswordForm.invalid"><span>Update</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>